.meterSection, .otherSection {
    box-shadow: -1px -1px 12px #888;
}

.meterSection {
    margin-left: 30px;
    margin-top: 20px;
}

.otherSection {
    margin-left: 20px;
    margin-top: 20px;
}

.dbsecondWrapper {
    background: #f7f7f7;
}