.submitBtn {
    background-color: rgb(10, 136, 188) !important;
    color: white !important;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
  }

  .formField {
    margin-bottom: 10px !important;
  }

  .formLabel {
    width: 70px !important;
    margin-right: 5px !important;
  }

  .formInput {
    width: 70% !important;
  }

  .pharmInput {
    width: 85% !important;
  }

  .datePicker input[type=text] {
    border:0px !important;
  }

  .successMessage {
    font-size: 20px;
    font-weight: bold;
  }

  .opiCheck {
    margin-left: 75px !important;
  }

  .opiCheck label {
    font-weight: 700;
  }

  .dateLabel, .dateInput {
    display:inline-block;
  }

  @media screen and (max-width: 1024px) {
    .opiCheck {
      margin-left: 0px !important;
    }

    .pharmInput {
      width: 100% !important;
    }

    .formInput {
      width: 100% !important;
    }

  }
