.mainHeader {
    min-height: 80px;
    margin-bottom: 20px !important;
}

.headerIcons {
    padding-top: 25px !important;
    padding-bottom: 25px;
    padding-left: 25px;
}

.logo {
    height: 45px !important;
}