.mainHeader {
    min-height: 70px;
}

.headerIcons {
    padding-top: 15px !important;
    padding-bottom: 15px;
    padding-left: 25px;
}

.headerLogo {
    height: 40px !important;
}

.userDropDown {
    position: absolute !important;
    top: 20px;
    right: 60px;
    font-size: 15px;
}